section[aria-label="Quiz"] > ul > li { 
    background-color: darkgray;
    margin: 10px;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 10px;
}

section[aria-label="Quiz"] > ul > li:hover { 
    background-color: gray;
}